* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
color: #111;
background-color: #FFF;
line-height: 1.6;
font-family: 'Roboto', sans-serif;
font-size:1em;
}
a {
text-decoration: none;
	color: #000;
}
ul {
	list-style: none;
	padding:0;
	margin:0;
}
.links {
	color:#fff;
	text-transform: uppercase;
}
.container {
	width:60%;
	margin: auto;
}

/* utility programs */
#navbar {
	position: fixed;
	width:100%;
	top:0;
	padding: 1em 0;
	background: #2098d1;
	color:#fff;
	overflow: hidden;
	text-align:center;
}
.logo-image {
border: 2px solid #fff;
padding: 2px;
border-radius: 50%;
margin-right: 3px;
}
/* showcase */
#showcase {
	text-align:center;
	padding-top:3em;
	height:200px;
	background:#2098d1;
	color:#fff;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
#showcase h3 {
	font-weight:300;
	text-transform:capitalize;
}
/*blog posts*/
.blog-posts {
	padding:2em 1em;
}
.blog-post {
	border-bottom: 1px solid #eee;
	padding:1em 0;
}
.blog-title {
	color:grey;
	text-transform:capitalize;
	line-height: 1.2;
}
.blog-title:hover {
	text-decoration: underline;
}


